@model Settings
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">@Model.Email</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+@Model.Phone</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>

            <a  asp-controller="acc"  asp-action="login" >Login</a>
            <a   asp-controller="acc"  asp-action="register">Register</a>
        </div>
    </div>
   
</section>


<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 footer-contact">
        <h3>BizLand<span>.</span></h3>
        <p>
            @Model.Adress <br>
            @Model.Email<br>
            United States <br><br>
            <strong>Phone:</strong> +@Model.Phone<br>
            <strong>Email:</strong> @Model.Email<br>
        </p>
    </div>
